<button><a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Home</h2></a></button>
<button><a href="{{ "/CTFs" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">CTFs</h2></a></button>
<button><a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About Me</h2></a></button>
<button><a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a></button>
