<style>
  nav {
    text-align: center;
    margin: 25px 0; /* razmak iznad i ispod navigacije */
  }

  .btn {
    display: inline-block;
    background: -webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));
    padding: 8px 18px;
    border-radius: 50px;
    border: 2px solid rgba(0,0,0,0.7);
    border-bottom: 2px solid rgba(0,0,0,0.7);
    border-top: 2px solid #000;
    color: rgba(255,255,255,0.85);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.05);
    margin: 0 10px; /* horizontalni razmak */
    transition: background 0.3s ease, transform 0.2s ease;
  }

  .btn:hover {
    background: -webkit-linear-gradient(top, rgba(40,40,40,0.6), rgba(35,35,35,0.6) 50%, rgba(10,10,10,0.8) 50%, rgba(0,0,0,0.8));
    transform: scale(1.05);
  }
</style>

<nav>
  <a class="btn" href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">Home</a>
  <a class="btn" href="{{ '/CTFs' | prepend: site.baseurl | replace: '//', '/' }}">CTFs</a>
  <a class="btn" href="{{ '/about' | prepend: site.baseurl | replace: '//', '/' }}">About Me</a>
  <a class="btn" href="{{ '/archive' | prepend: site.baseurl | replace: '//', '/' }}">Archive</a>
</nav>
